body {
    background-color: black;
    color: aliceblue;
    padding-top: 20px;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: darkgreen;
    }
}

.btn {
    background-color: #1ed760;
    color: #000000;
    border-radius: 500px;
    padding: 14px 32px;
}

.row {
    margin: 0;
}

.playlist_name {
    color: white;
    padding: 0.08em 0;
    margin-top: 5px;
    font-size: 36px;
    visibility: visible;
}

img:hover {
    transform: scale(1.1);
    animation-delay: 1s;
}

.track_name {
    color: white;
    padding: 0.08em 0;
    margin-top: 5px;
    font-size: 26px;
    visibility: visible;
    white-space: nowrap;
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.playlist_description {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 20px;
    text-transform: none;
}

.flexy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

audio {
    filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(100%);
}

#info {
    color: rgba(255, 255, 255, 0.7);
    margin-top: 25px;
    font-size: 21px;
    text-align: center;
    animation-name: fadein;
    animation-duration: 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}